<!-- Barra de navegación -->
<nav class="navbar">
    <div>
        <img src="assets\imagenes\logoOrday.png" alt="Logo_Orday.png" />
    </div>
    <ul class="nav-links">
        <li><a [routerLink]="['/dashboard']">Inicio</a></li>
        <li><a [routerLink]="['/routine']">Planificador</a></li>
        <li><a >Calendario</a></li>
        <li><a [routerLink]="['/profile']">Perfil</a></li>
    </ul>
    <div>
        <button class="back-btn" (click)="goOut('')">Cerrar sesión</button>
    </div>
</nav>

<!-- Contenido principal del Dashboard -->
<div class="dashboard">
    <header>
        <h2>Comienza a Gestionar Tu Semana</h2>
        <p>Tu espacio para gestionar tus rutinas y mantenerte organizado de una forma simple y eficiente. Aquí puedes crear nuevas rutinas, hacer un seguimiento de tu progreso y modificar las existentes cuando lo necesites.</p>
        <img src="assets\imagenes\ordayFondo.png" alt="Logo_Orday.png" />
    </header>
  
    <div class="dashboard-actions">
        <button class="create-routine-btn" (click)="goTo('/routine')">Crear nueva rutina</button>
    </div>
  
    <!-- Resumen de rutinas -->
    <section class="routines-summary">
        <h3>Mis Rutinas</h3>
        <p class = "routines-description">Gestiona las rutinas que has creado, edítalas o elimínelas.</p>
    
        <!-- Lista de rutinas -->
        <div class="routine-list">
            <div class="routine-item" *ngFor="let routine of routines">
                <h4 class="routine-name">{{routine.name}}</h4>
                <p>{{routine.description}}</p>
                <p><strong>Duración: {{routine.duration}}</strong></p>
                <p><strong>Categoría: {{routine.category}}</strong></p>
                <div class="routine-actions">
                    <button class="edit-btn" (click)="updateRoutine(routine._id)">Editar</button>
                    <button class="delete-btn" (click)="deleteRoutine(routine._id)">Eliminar</button>
                </div>   
            </div>
        </div>
    </section>
</div>