<!-- Barra de navegación -->
<nav class="navbar">
  <div>
    <img src="assets\imagenes\logoOrday.png" alt="Logo_Orday.png" />
  </div>
  <ul class="nav-links">
    <li><a [routerLink]="['/dashboard']">Inicio</a></li>
    <li><a [routerLink]="['/routine']">Planificador</a></li>
    <li><a >Calendario</a></li>
    <li><a [routerLink]="['/profile']">Perfil</a></li>
  </ul> 
  <div>
    <button class="back-btn" (click)="goTo('')">Cerrar sesión</button>
  </div>
</nav>

<!-- Contenido principal de Crear Rutina -->
<div class="create-routine">
  <header>
    <h2>Crear una nueva rutina diaria</h2>
    <p>Organiza tu día de forma eficiente con tareas personalizadas.</p>
  </header>

  <form class="routine-form" (ngSubmit)="saveRoutine()" [formGroup]="form">
    <!-- Nombre de la rutina -->
    <div class="form-group">
      <input type="text" formControlName="name" placeholder="Nombre de la rutina (Ej: Mañana productiva)" name="name" id="name" />
      <p *ngIf="form.controls['name'].touched && form.controls['name'].errors?.['required']" class="error-message"> El campo es obligatorio</p>
    </div>

    <!-- Descripción de la rutina -->
    <div class="form-group">
      <textarea id="description" name="description" placeholder="Descripción breve de la rutina" formControlName="description" ></textarea>
      <p *ngIf="form.controls['description'].touched && form.controls['description'].errors?.['required']" class="error-message"> El campo es obligatorio</p>
    </div>

    <!-- Duración de la rutina -->
    <div class="form-group">
      <input type="text" formControlName="duration" placeholder="Duración estimada (Ej: 1 hora 30 minutos)" name="duration" id="duration" />
      <p *ngIf="form.controls['duration'].touched && form.controls['duration'].errors?.['required']" class="error-message"> El campo es obligatorio</p>
    </div>

    <!-- Categoría -->
    <div class="form-group">
      <select id="category" name="category" formControlName="category">
        <option value="">Selecciona una categoría</option>
        <option value="tareas diarias">Tareas diarias</option>
        <option value="hogar">Hogar</option>
        <option value="estudio">Estudio</option>
        <option value="trabajo">Trabajo</option>
        <option value="salud">Salud</option>
        <option value="personal">Cuidado personal</option>
      </select>
      
      <p *ngIf="form.controls['category'].touched && form.controls['category'].errors?.['required']" class="error-message"> El campo es obligatorio</p>
    </div>

    <!-- Botón para guardar la rutina -->
    <div class="form-group submit-btn-container">
      <button type="submit" class="submit-btn">Crear Rutina</button>
      <button type="button" class="cancel-btn" (click)="cancelRoutine()">Cancelar</button>
    </div>
  </form>
</div>