<!-- Barra de navegación -->
<nav class = "navbar">
  <div class = "logo">
    <h1>Orday</h1>
  </div>
  <ul class = "nav-links">
    <li><a [routerLink] = "['/dashboard']">Inicio</a></li>
    <li><a [routerLink] = "['/routine']">Planificador</a></li>
    <li><a>Calendario</a></li>
    <li><a [routerLink] = "['/profile']">Perfil</a></li>
  </ul>
  <div class = "auth-buttons">
    <button class = "back-btn" (click) = "goTo('')">Cerrar sesión</button>
  </div>
</nav>

<!-- Contenido principal de Crear Rutina -->
<div class = "create-routine">
  <header>
    <h2>Crear una nueva rutina diaria</h2>
    <p>Organiza tu día de forma eficiente con tareas personalizadas.</p>
  </header>

  <form class = "routine-form">
    <!-- Nombre de la rutina -->
    <div class = "form-group">
      <input type = "text" id = "routine-name" name = "routine-name" placeholder = "Nombre de la rutina (Ej: Mañana productiva)" [(ngModel)] = "name" required />
    </div>

    <!-- Descripción de la rutina -->
    <div class = "form-group">
      <textarea id = "routine-description" name = "routine-description" placeholder = "Descripción breve de la rutina" [(ngModel)] = "description" required></textarea>
    </div>

    <!-- Duración de la rutina -->
    <div class = "form-group">
      <input type = "text" id = "routine-duration" name = "routine-duration" placeholder = "Duración estimada (Ej: 1 hora 30 minutos)" [(ngModel)] = "duration" required />
    </div>

    <!-- Categoría -->
    <div class = "form-group">
      <select id = "routine-category" name = "routine-category" [(ngModel)] = "category" required>
        <option value = "">Selecciona una categoría</option>
        <option value = "tareas diarias">Tareas diarias</option>
        <option value = "hogar">Hogar</option>
        <option value = "estudio">Estudio</option>
        <option value = "trabajo">Trabajo</option>
        <option value = "salud">Salud</option>
        <option value = "personal">Cuidado personal</option>
      </select>
    </div>

    <!-- Botón para guardar la rutina -->
    <div class = "form-group submit-btn-container">
      <button type = "submit" class = "submit-btn" (click) = "saveRoutine()">Guardar Rutina</button>
    </div>
  </form>
</div>