<!-- Barra de navegación -->
<nav class="navbar">
  <div class="logo">
    <h1>Orday</h1>
  </div>
  <div class="auth-buttons">
    <button class="back-btn" (click) = "goTo('')">Home</button>
  </div>
</nav>
  
<!-- Contenido del Login -->
<div class="container">
  <header>
    <h1>Inicia sesión en tu cuenta</h1>
    <p>Por favor, ingresa tus datos para poder acceder a tu cuenta de Orday.</p>
  </header>

  <form class="login-form" (ngSubmit)="login()">
    <!-- Correo -->
    <div class="form-group">
      <input type="text" placeholder="Nombre usuario" [(ngModel)]="name" name ="name"/>
    </div>
  
    <!-- Contraseña -->
    <div class="form-group password-group">
      <input type="password" placeholder="Contraseña" [(ngModel)]="password" name ="password"/>
    </div>
  
    <button type="submit" class="login-btn" (click) = "login()">Iniciar Sesión</button>
  
    <p>¿No tienes cuenta? <a class="signup-a" [routerLink]="['/register']">Regístrate</a></p>
  </form>
</div>
  