<!-- Barra de navegación -->
<nav class="navbar">
    <div>
        <img src="assets\imagenes\logoOrday.png" alt="Logo_Orday.png" />
    </div>
    <div>
        <button class="back-btn" (click)="goTo('')">Home</button>
    </div>
</nav>

<!-- Contenido del Registro -->
<div class="container">
    <header>
        <h1>Crea tu cuenta</h1>
        <p>Por favor, completa los siguientes campos para registrarte en Orday.</p>
    </header>

    <form class="register-form" (ngSubmit)="register()" [formGroup]="form">
        
        <!-- Nombre Usuario -->
        <div class="form-group">
            <input type="text" formControlName="nameUser" placeholder="Nombre Usuario (ej: user1234)" name="nameUser" id="nameUser" />
            <p *ngIf="form.controls['nameUser'].touched && form.controls['nameUser'].errors?.['required']" class="error-message"> El campo es obligatorio</p>
        </div>

        <!-- Nombre Usuario -->
        <div class="form-group">
            <input type="text" formControlName="name" placeholder="Nombre Completo" name="name" id="name" />
            <p *ngIf="form.controls['name'].touched && form.controls['name'].errors?.['required']" class="error-message"> El campo es obligatorio</p>
        </div>

        <!-- Email -->
        <div class="form-group">
            <input type="email" formControlName="email" placeholder="Email" name="email" id="email" />
            <p *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']" class="error-message"> El campo es obligatorio</p>
        </div>

        <!-- Contraseña -->
        <div class="form-group password-group">
            <input type="password" placeholder="Contraseña" name="password1" id="password1" formControlName="password1"/>
            <p *ngIf="form.controls['password1'].touched && form.controls['password1'].errors?.['required']" class="error-message"> El campo es obligatorio</p>
        </div>

        <!-- Confirmar Contraseña -->
        <div class="form-group password-group">
            <input type="password" placeholder="Confirmar Contraseña" name="password2" id="password2" formControlName="password2"/>
            <p *ngIf="form.controls['password2'].touched && form.controls['password2'].errors?.['required']" class="error-message"> El campo es obligatorio</p>
        </div>

        <!-- Botón de registro -->
        <button type="submit" class="register-btn">Registrarse</button>
        <p>¿Ya tienes cuenta? <a class="login-a" [routerLink]="['/login']">Inicia sesión</a></p>
    </form>
</div>
